
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container{
    width: 100vw;
    height: 100vh;
    background-color: #a4152c;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.box{
    width: 350px;
    height: 610px;
    background-color: #1e1e26;
    padding: 20px 10px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: all ease 0.3s;
}


.box:hover{
    background-color: #17171d;
    transition: all ease 0.3s;
    transform-style: preserve-3d;
    transform: scale(1.02);

}

.box:hover .marvel{
    color: #c0292b;
    
}


.marvel{
    font-weight: bold;
    color: #32323e;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    transition: all ease 0.3s;
    
}


.model{
    height: 350px;
    max-height: 100%;

}


.details{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.logo{
    width: 60px;

}

.details p{
    font-weight: bold;
    color: #6a6a74;
    margin-top: 10px;
    text-align: center;
}